name: dashx
description: An un-opinionated, dependency free, expressive extensions package focused on productivity.
version: 0.0.1
homepage: mehmetesen.com

environment:
  sdk: ">=2.14.0 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
